  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Roboto";
  }

  h1 {
    text-align: center;
    color: #172426;
  }

  .item {
    margin-bottom: 10px;
    width: 300px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: rgb(95, 67, 161);
  }
  
  .items {
    flex-direction: row;
    display: flex;
    margin-right: 10px;
  }

  .item p {
    font-size: 40px;
    color: #fff;
  }